.Home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.homepage-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-text {
    text-align: center;
    margin-bottom: 20px;
}

.homepage-buttons {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}
