.profile {
    min-height: 100vh;
    color: var(--offwhite);
    padding-bottom: 150px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.profile-header-container {
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.profile-header-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    font-weight: var(--semibold);
    font-size: 18px;
    margin-right: 55px;
    margin-left: 55px;
    text-decoration: none;
    color: var(--offwhite);
}
