/* * {
    top: 0;
    margin-top: 2px;
} */

.h1-userRecipes {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1em;
}
.h2-LearnMore {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1em;
}
.recipe-image {
    height: 220px;
    width: 220px;
    border-radius: 20px;
    margin-bottom: 12px;
}

.recipe-item {
    margin-bottom: 1em;
}

.RecipeList-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1em;
}
.home-page-featured-recipes {
    overflow: hidden;
    margin-left: -20px;
    margin-bottom: 70px;
    position: relative;
    padding-bottom: 50px;
}
.featured-recipes {
    display: grid;
    grid-gap: 20px 14px;
    align-content: start;
    justify-content: center;
    align-items: start;
    grid-template-columns: repeat(10, 274px);
    grid-auto-flow: column;
    margin-bottom: 20px;
    overflow: visible;
}
.card {
    height: 280px;
    background-color: #3e3e3e;
    border-radius: 10px;
    padding: 0px;
    box-shadow: 2px 2px 10px #016fff;
    text-align: center;
    cursor: pointer;
    animation: appear16123 0.3s linear forwards;
    transition: opacity 0.3s;
    position: relative;
    overflow: hidden;
    color: var(--maindark);
    border-radius: 8px;
}

.home-recipe-name {
    font-size: 24px;
    margin-top: 0;
    padding: 20px 20px 0 0;
}

.home-recipe-description {
    font-size: 16px;
    margin: 52px 0;
    color: rgb(16, 16, 16);
}

.shadow-transition {
    position: absolute;
    z-index: 1;
    bottom: 50px;
    left: 0;
    width: 100%;
    height: 400px;
    pointer-events: none;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, #171717 100%);
}
.home-browse-all-button {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%);
    bottom: 40px;
    padding: 0 30px;
    background: #5ea4ff;
    color: #fff;
    font-weight: bold;
    transition: all .3s;
    border: 2px solid #004196;
    user-select: none;
    font-size: 16px;
    border-radius: 200px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
