/* * {
    top: 0;
    margin-top: 2px;
} */

.recipe-image {
    height: 220px;
    width: 220px;
    border-radius: 20px;
    margin-bottom: 12px;
}

.recipe-item {
    margin-bottom: 1em;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    text-transform: capitalize;
    flex-wrap: wrap;
}
