//declare variables
$off-white: #f5f5f5;

:root {
    --main-text-color: #171717;
    --background-color: #f5f5f5;
}

.darkMode {
    --main-text-color: #f5f5f5;
    --background-color: #171717;
}

.css-1wrsjbk-MuiTypography-root p {
    color: $off-white;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    background: #9c1313;
}
.loginContainer {
    min-height: 100vh;
    color: red;
    background-color: var(--background-color);
    height: 100vh;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-y: hidden;
}
.loginContainer h1 {
    color: var(--main-text-color);
}

.sign-in-remember {
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--main-text-color) inset !important;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px red inset;
    -webkit-text-fill-color: var(--main-text-color);
}
