:root {
    --main-text-color: #171717;
    --background-color: #f5f5f5;
}

.darkMode {
    --main-text-color: #f5f5f5;
    --background-color: #171717;
}

.signupContainer {
    min-height: 100vh;
    color: var(--main-text-color);
    background-color: var(--background-color);
    height: 100vh;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-y: hidden;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--background-color) inset !important;
}
