.userPageRecipes-container {
    min-height: 100vh;
    color: var(--background-color);
    padding-bottom: 150px;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.userPageRecipes-header-container {
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
